<a href="https://colab.research.google.com/github/fuleabhijit/AI-Analyst-Chat/blob/main/ML_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
from scipy import stats

In [ ]:
emp_data={
    "work_exp":[1,2,3,4,5,6,7,8,9,10],
    "ctc":[2,4,6,8,10,12,14,16,18,20]}

In [ ]:
df=pd.DataFrame(emp_data)
df

   work_exp  ctc
0         1    2
1         2    4
2         3    6
3         4    8
4         5   10
5         6   12
6         7   14
7         8   16
8         9   18
9        10   20

In [ ]:
x=df["work_exp"]
y=df["ctc"]

result=stats.linregress(x,y)

In [ ]:
result

LinregressResult(slope=np.float64(2.0), intercept=np.float64(0.0), rvalue=np.float64(1.0), pvalue=np.float64(4.375000000000076e-80), stderr=np.float64(0.0), intercept_stderr=np.float64(0.0))

In [ ]:
m=result.slope
c=result.intercept

def predicted_ctc(x,m,c):
    y=m*x+c
    return y

In [ ]:
exp=int(input("Enter Number of Expierence: "))
predicted_ctc(exp,m,c)

Enter Number of Expierence:  12

np.float64(24.0)