<a href="https://colab.research.google.com/github/fuleabhijit/AI-Analyst-Chat/blob/main/ML_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### 1.Download important Libraries

In [ ]:
import pandas as pd
from sklearn.linear_model import LinearRegression
import numpy as np

## 2. Read Dataset/

In [ ]:
df=pd.read_csv("/Users/prayagadage/Desktop/Python_By_CJC/DATA_SCIENCE_CJC/Machine_Learning/Dataset/house_price_dataset_clean.csv")

In [ ]:
df

,Size (sq. ft.),Bedrooms,Bathrooms,Age of House (Years),Distance to City Center (Miles),Price
0,2247.976523,4,4,10,18.061996,3.077421e+06
1,4783.142948,2,3,27,16.928083,3.482683e+06
2,3820.773344,5,3,4,17.874385,3.997572e+06
3,3234.097330,3,1,11,0.214683,3.022428e+06
4,1286.482018,3,2,2,14.863879,2.000636e+06
...,...,...,...,...,...,...
9995,4373.686348,5,1,1,11.890596,4.008704e+06
9996,4549.038874,1,3,40,14.885911,3.041474e+06
9997,4765.514826,1,3,21,17.199960,3.198431e+06
9998,2348.947167,2,1,8,7.219266,2.154761e+06
9999,1555.417778,5,1,13,13.250556,2.512371e+06

## 3. Extract X,Y

In [ ]:
Y=df["Price"]
X=df[["Size (sq. ft.)","Bedrooms","Bathrooms","Age of House (Years)","Distance to City Center (Miles)"]]

In [ ]:
X

,Size (sq. ft.),Bedrooms,Bathrooms,Age of House (Years),Distance to City Center (Miles)
0,2247.976523,4,4,10,18.061996
1,4783.142948,2,3,27,16.928083
2,3820.773344,5,3,4,17.874385
3,3234.097330,3,1,11,0.214683
4,1286.482018,3,2,2,14.863879
...,...,...,...,...,...
9995,4373.686348,5,1,1,11.890596
9996,4549.038874,1,3,40,14.885911
9997,4765.514826,1,3,21,17.199960
9998,2348.947167,2,1,8,7.219266
9999,1555.417778,5,1,13,13.250556

## 4. Create Model

In [ ]:
lm=LinearRegression()

## 5.Train on the dataset

In [ ]:
lm.fit(X,Y)

## 6. Make Prediction

In [ ]:
predicted=lm.predict([[2200,4,3,22,14.863879]])

/opt/anaconda3/lib/python3.13/site-packages/sklearn/utils/validation.py:2739: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

In [ ]:
np.round(predicted,2)

array([2857395.34])

In [ ]:
df.sample()

,Size (sq. ft.),Bedrooms,Bathrooms,Age of House (Years),Distance to City Center (Miles),Price
405,4540.302205,4,2,17,0.894075,4.131943e+06